@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@layer base {
  body {
    font-family: "Times New Roman", Times, serif;
  }
}


@layer utilities {
  .font-digital {
    font-family: 'Share Tech Mono', monospace;
  }
  .animate-slide-up {
    animation: slide-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
  .animate-slide-in-right {
    animation: slide-in-right 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
